.diagram {
  background-color: #f7f8fa; }
  .diagram .diagram-titles p {
    font-weight: 700;
    color: #0c242c; }
  .diagram .diagram-titles div {
    border-left: 8px solid #5cc78d; }
    .diagram .diagram-titles div p {
      font-weight: 700;
      color: #0c242c; }

@media (min-width: 992px) and (max-width: 1920px) {
  .diagram {
    background-image: url("../assets/images/diagram-large.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 380px;
    padding: 160px 0 100px 0; }
    .diagram .diagram-titles p {
      margin-left: 223px;
      padding-left: 32px;
      font-size: 24px;
      line-height: 28px; }
    .diagram .diagram-titles div {
      margin-left: 223px;
      border-left: 8px solid #5cc78d; }
      .diagram .diagram-titles div p {
        margin: 0;
        padding-left: 24px;
        font-size: 48px;
        line-height: 56px; }
    .diagram .main-diagam {
      margin: 109px 0 100px 160px;
      height: 112px; }
      .diagram .main-diagam object {
        width: 200px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .diagram {
    width: 768px;
    height: 720px; }
    .diagram .diagram-titles {
      padding-top: 96px; }
      .diagram .diagram-titles p {
        padding-left: 32px;
        font-size: 24px;
        line-height: 28px; }
      .diagram .diagram-titles div {
        border-left: 8px solid #5cc78d; }
        .diagram .diagram-titles div p {
          width: 650px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 48px;
          line-height: 56px; }
          .diagram .diagram-titles div p br {
            display: none; }
  .main-diagam {
    background-image: url("../assets/images/diagram-medium.svg");
    background-size: 100%;
    margin: 76px 32px 72px 32px;
    height: 244px;
    width: 704px; } }

@media (min-width: 320px) and (max-width: 767.98px) {
  .diagram {
    width: 360px;
    height: 720px; }
    .diagram .diagram-titles {
      padding-top: 96px; }
      .diagram .diagram-titles p {
        padding-left: 32px;
        font-size: 20px;
        line-height: 24px; }
      .diagram .diagram-titles div {
        border-left: 8px solid #5cc78d; }
        .diagram .diagram-titles div p {
          width: 296px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 32px;
          line-height: 36px; }
          .diagram .diagram-titles div p br {
            display: none; }
  .main-diagam {
    background-image: url("../assets/images/diagram-small.svg");
    background-size: 100%;
    margin: 64px 32px 72px 32px;
    height: 244px;
    width: 296px; } }
