.diagram-container {
  background-color: #f7f8fa; }
  .diagram-container .diagram .diagram-titles p {
    font-weight: 700;
    color: #0c242c; }
  .diagram-container .diagram .diagram-titles div {
    margin-top: 16px;
    border-left: 8px solid #5cc78d; }
    .diagram-container .diagram .diagram-titles div p {
      font-weight: 700;
      color: #0c242c; }
  .diagram-container .diagram .main-diagram .diagram-block .methodth-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; }
  .diagram-container .diagram .main-diagram .diagram-block .hours {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; }
  .diagram-container .diagram .main-diagram .diagram-block .rectangle {
    margin-top: 12px;
    height: 8px;
    border-radius: 8px; }

.rectangle-upper {
  background: #5cc78d; }

.rectangle-middle {
  background: linear-gradient(270deg, #abb2bc 2.74%, #ced3da 100%); }

.rectangle-lower {
  background: linear-gradient(270deg, #89929f 2.74%, #ced3da 100%); }

@media (min-width: 992px) {
  .diagram {
    width: 1440px;
    padding: 160px 0 100px 0;
    margin: 0 auto; }
    .diagram .diagram-titles p {
      margin-left: 223px;
      padding-left: 32px;
      font-size: 24px;
      line-height: 28px; }
    .diagram .diagram-titles div {
      margin-left: 223px;
      border-left: 8px solid #5cc78d; }
      .diagram .diagram-titles div p {
        margin: 0;
        padding-left: 24px;
        font-size: 48px;
        line-height: 56px; }
    .diagram .main-diagram {
      padding: 109px 160px 0 160px; }
      .diagram .main-diagram .diagram-block {
        margin-top: -30px; }
        .diagram .main-diagram .diagram-block .methodth-name {
          text-align: right; }
        .diagram .main-diagram .diagram-block .hours {
          text-align: right; }
    .diagram .main-diagram :first-child .diagram-block {
      margin-top: 0; }
      .diagram .main-diagram :first-child .diagram-block .methodth-name {
        text-align: left; }
      .diagram .main-diagram :first-child .diagram-block .hours {
        text-align: left; }
  .width-upper {
    width: 5.71%; }
  .width-middle {
    width: 50%; }
  .width-lower {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .diagram {
    width: 768px;
    height: 720px;
    margin: 0 auto; }
    .diagram .diagram-titles {
      padding-top: 96px; }
      .diagram .diagram-titles p {
        padding-left: 32px;
        font-size: 24px;
        line-height: 28px; }
      .diagram .diagram-titles div {
        border-left: 8px solid #5cc78d; }
        .diagram .diagram-titles div p {
          width: 650px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 48px;
          line-height: 56px; }
          .diagram .diagram-titles div p br {
            display: none; }
  .main-diagram {
    background-image: url("../assets/images/diagram-medium.svg");
    background-size: 100%;
    margin: 76px 32px 72px 32px;
    height: 244px;
    width: 704px; }
  .rectangle-upper {
    width: 5.71%; }
  .rectangle-middle {
    width: 50%; }
  .rectangle-lower {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767.98px) {
  .diagram {
    width: 360px;
    height: 720px;
    margin: 0 auto; }
    .diagram .diagram-titles {
      padding-top: 96px; }
      .diagram .diagram-titles p {
        padding-left: 32px;
        font-size: 20px;
        line-height: 24px; }
      .diagram .diagram-titles div {
        border-left: 8px solid #5cc78d; }
        .diagram .diagram-titles div p {
          width: 296px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 32px;
          line-height: 36px; }
          .diagram .diagram-titles div p br {
            display: none; }
  .main-diagram {
    background-image: url("../assets/images/diagram-small.svg");
    background-size: 100%;
    margin: 64px 32px 72px 32px;
    height: 244px;
    width: 296px; }
  .rectangle-upper {
    width: 5.71%; }
  .rectangle-middle {
    width: 50%; }
  .rectangle-lower {
    width: 100%; } }
