.footer {
  background-color: #f1f3f6; }
  .footer .contacts img {
    width: 123px;
    height: 44px; }
  .footer .contacts div {
    color: #89929f; }
    .footer .contacts div .phone {
      color: #89929f; }
    .footer .contacts div .email {
      color: #89929f; }
  .footer .copyright {
    font-weight: 400;
    text-align: center;
    color: #89929f; }

@media (min-width: 992px) and (max-width: 1920px) {
  .footer {
    min-width: 992px;
    max-width: 100%;
    height: 242px; }
    .footer .contacts {
      height: 44px;
      padding: 74px 160px 76px 160px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .footer .contacts div {
        display: inline-flex; }
        .footer .contacts div .phone {
          padding-right: 60px;
          font-size: 32px;
          line-height: 32px; }
        .footer .contacts div .email {
          font-size: 32px;
          line-height: 32px;
          margin-left: 32px;
          padding-right: 60px; }
    .footer .copyright {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    width: 768px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer .contacts {
      padding-top: 64px;
      height: 44px;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .footer .contacts img {
        display: block; }
      .footer .contacts div {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column; }
        .footer .contacts div .phone {
          font-size: 32px;
          line-height: 32px; }
        .footer .contacts div .email {
          padding-top: 64px;
          font-size: 32px;
          line-height: 32px; }
    .footer .copyright {
      padding-bottom: 20px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; } }

@media (min-width: 320px) and (max-width: 767.98px) {
  .footer {
    width: 360px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer .contacts {
      padding-top: 64px;
      height: 44px;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .footer .contacts img {
        display: block; }
      .footer .contacts div {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column; }
        .footer .contacts div .phone {
          font-size: 32px;
          line-height: 32px; }
        .footer .contacts div .email {
          padding-top: 64px;
          font-size: 32px;
          line-height: 32px; }
    .footer .copyright {
      padding-bottom: 20px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; } }
