.quote .quote-block .text {
  font-size: 24px;
  line-height: 32px;
  color: #0c242c; }

.quote .quote-block .author {
  border-left: 8px solid #5cc78d;
  color: #0c242c; }
  .quote .quote-block .author .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #0c242c; }
  .quote .quote-block .author .ref {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #0c242c; }

@media (min-width: 992px) and (max-width: 1920px) {
  .quote {
    min-width: 992px;
    max-width: 100%;
    height: 460px;
    background-color: #f7f8fa; }
    .quote .quote-block {
      padding: 164px 256px 108px 256px; }
      .quote .quote-block .author {
        height: 64px;
        margin: 56px 0 0 466px; }
        .quote .quote-block .author .name {
          margin-left: 16px; }
        .quote .quote-block .author .ref {
          margin-left: 16px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .quote {
    width: 768px;
    height: 400px;
    background-color: #f7f8fa; }
    .quote .quote-block {
      padding: 87px 32px 86px 32px; }
      .quote .quote-block .author {
        height: 67px;
        margin-top: 32px;
        margin-left: 50%; }
        .quote .quote-block .author .name {
          margin-left: 16px; }
        .quote .quote-block .author .ref {
          margin-left: 16px; } }

@media (min-width: 320px) and (max-width: 767.98px) {
  .quote {
    width: 360px;
    height: 640px;
    background-color: #f7f8fa; }
    .quote .quote-block {
      padding: 87px 32px 86px 32px; }
      .quote .quote-block .author {
        height: 67px;
        margin-top: 32px;
        margin-left: -32px; }
        .quote .quote-block .author .name {
          margin-left: 16px; }
        .quote .quote-block .author .ref {
          margin-left: 16px; } }
