@import url('./global.css');
@import url('./title.css');
@import url('./quote.css');
@import url('./current-standart.css');
@import url('./diagram.css');
@import url('./universal-platform-technology.css');
@import url('./disruptive-innovations.css');
@import url('./team.css');
@import url('./footer.css');