.team {
  background-color: white; }
  .team .team-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center; }
  .team .team-cards {
    display: flex; }
    .team .team-cards .team-card .position {
      font-weight: 700;
      color: #5cc78d;
      background-color: white;
      max-width: 44px;
      padding: 8px 8px 36px 0;
      margin-top: -60px;
      margin-left: -16px;
      position: relative;
      z-index: 1; }
    .team .team-cards .team-card .author-name {
      font-weight: 700;
      margin-top: -30px;
      position: relative;
      z-index: 2; }
    .team .team-cards .team-card .author-location {
      font-weight: 400; }
    .team .team-cards .team-card .author-about {
      font-weight: 400;
      opacity: 0.6; }
    .team .team-cards .team-card .author-link {
      padding-top: 8px; }
      .team .team-cards .team-card .author-link img {
        width: 24px;
        height: 24px; }
      .team .team-cards .team-card .author-link a {
        background-image: url("../assets/images/social-ref.svg");
        background-repeat: no-repeat;
        background-size: 30%;
        margin-top: 6px;
        margin-left: 16px;
        width: 216px;
        height: 20px; }

@media (min-width: 992px) and (max-width: 1920px) {
  .team {
    min-width: 992px;
    max-width: 100%;
    height: 720px; }
    .team .team-cards {
      padding: 90px 160px 86.2px 256px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .team .team-cards .team-card img {
        width: 128px;
        height: 200px; }
      .team .team-cards .team-card .position {
        font-size: 16px;
        line-height: 20px;
        color: #5cc78d; }
      .team .team-cards .team-card .author-name {
        font-size: 24px;
        line-height: 28px; }
      .team .team-cards .team-card .author-location {
        padding: 8px 0 8px 0;
        font-size: 16px;
        line-height: 24px; }
      .team .team-cards .team-card .author-about {
        width: 256px;
        height: 96px;
        padding: 8px 0 8px 0;
        font-size: 16px;
        line-height: 24px; }
      .team .team-cards .team-card .author-link {
        display: inline-flex;
        padding-top: 8px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .team {
    width: 768px;
    height: 1200px;
    padding-top: 96px; }
    .team .team-cards {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .team .team-cards .team-card {
        padding-top: 66px;
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .team .team-cards .team-card img {
          display: block;
          width: 160px;
          height: 240px; }
        .team .team-cards .team-card .card-text {
          padding-left: 36px; }
          .team .team-cards .team-card .card-text .position {
            font-size: 16px;
            line-height: 20px;
            color: #5cc78d; }
          .team .team-cards .team-card .card-text .author-name {
            font-size: 24px;
            line-height: 28px; }
          .team .team-cards .team-card .card-text .author-location {
            padding: 8px 0 8px 0;
            font-size: 16px;
            line-height: 24px; }
          .team .team-cards .team-card .card-text .author-about {
            width: 244px;
            height: 96px;
            padding: 8px 0 8px 0;
            font-size: 16px;
            line-height: 24px; }
          .team .team-cards .team-card .card-text .author-link {
            display: inline-flex;
            padding-top: 8px; } }

@media (min-width: 320px) and (max-width: 767.98px) {
  .team {
    width: 360px;
    height: 1680px;
    padding: 96px 0; }
    .team .team-cards {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .team .team-cards .team-card {
        padding-top: 66px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .team .team-cards .team-card .face {
          padding-left: 48px;
          display: block;
          width: 154px;
          height: 240px; }
        .team .team-cards .team-card .card-text {
          padding-left: 32px; }
          .team .team-cards .team-card .card-text .position {
            font-size: 16px;
            line-height: 20px;
            color: #5cc78d; }
          .team .team-cards .team-card .card-text .author-name {
            font-size: 24px;
            line-height: 28px; }
          .team .team-cards .team-card .card-text .author-location {
            padding: 8px 0 8px 0;
            font-size: 16px;
            line-height: 24px; }
          .team .team-cards .team-card .card-text .author-about {
            width: 244px;
            height: 96px;
            padding: 8px 0 8px 0;
            font-size: 16px;
            line-height: 24px; }
          .team .team-cards .team-card .card-text .author-link {
            display: inline-flex;
            padding-top: 8px; } }
