.team-background {
  background-color: white;
}
.team-background .team .team-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}
.team-background .team .team-cards .team-card .face {
  padding-left: 12px;
}
.team-background .team .team-cards .team-card .position {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #5cc78d;
  white-space: nowrap;
}
.team-background .team .team-cards .team-card .author-name {
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.team-background .team .team-cards .team-card .author-location {
  font-weight: 400;
}
.team-background .team .team-cards .team-card .author-about {
  font-weight: 400;
  opacity: 0.6;
}
.team-background .team .team-cards .team-card .author-link {
  padding-top: 8px;
}
.team-background .team .team-cards .team-card .author-link img {
  width: 24px;
  height: 24px;
}
.team-background .team .team-cards .team-card .author-link a {
  background-image: url("../assets/images/social-ref.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  margin-top: 6px;
  margin-left: 16px;
  width: 216px;
  height: 20px;
}

@media (min-width: 992px) {
  .team {
    width: 1440px;
    height: 720px;
    margin: 0 auto;
  }
  .team .team-cards {
    padding: 90px 160px 86.2px 256px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .team .team-cards .team-card .face {
    width: 128px;
    height: 200px;
  }
  .team .team-cards .team-card .position {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    padding: 8px 8px 36px 0;
    margin-top: -60px;
    position: relative;
    z-index: 1;
  }
  .team .team-cards .team-card .author-name {
    font-size: 24px;
    line-height: 28px;
    margin-top: -38px;
  }
  .team .team-cards .team-card .author-location {
    padding: 8px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .team .team-cards .team-card .author-about {
    width: 256px;
    height: 96px;
    padding: 8px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .team .team-cards .team-card .author-link {
    display: inline-flex;
    padding-top: 8px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .team {
    width: 768px;
    height: 1200px;
    margin: 0 auto;
    padding-top: 96px;
  }
  .team .team-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .team .team-cards .team-card {
    padding-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .team .team-cards .team-card .face {
    width: 160px;
    height: 240px;
  }
  .team .team-cards .team-card .card-text {
    padding-left: 36px;
  }
  .team .team-cards .team-card .card-text .author-name {
    font-size: 24px;
    line-height: 28px;
  }
  .team .team-cards .team-card .card-text .author-location {
    padding: 8px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .team .team-cards .team-card .card-text .author-about {
    width: 244px;
    height: 96px;
    padding: 8px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .team .team-cards .team-card .card-text .author-link {
    display: inline-flex;
    padding-top: 8px;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .team {
    width: 360px;
    height: 1680px;
    margin: 0 auto;
    padding: 96px 0;
  }
  .team .team-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .team .team-cards .team-card {
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .team .team-cards .team-card .face {
    padding-left: 48px;
    display: block;
    width: 154px;
    height: 240px;
  }
  .team .team-cards .team-card .card-text {
    padding-left: 32px;
  }
  .team .team-cards .team-card .card-text .position {
    background-color: white;
    padding: 8px 8px 36px 0;
    margin-top: -60px;
    position: relative;
    z-index: 1;
  }
  .team .team-cards .team-card .card-text .author-name {
    font-size: 24px;
    line-height: 28px;
    margin-top: -30px;
  }
  .team .team-cards .team-card .card-text .author-location {
    padding: 8px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .team .team-cards .team-card .card-text .author-about {
    width: 244px;
    height: 96px;
    padding: 8px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .team .team-cards .team-card .card-text .author-link {
    display: inline-flex;
    padding-top: 8px;
  }
}

/*# sourceMappingURL=team.css.map */
