@media (min-width: 992px) {
  .universal-platform-background {
    background-image: url("../assets/images/bg-universal-platform-large.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 1440px;
    max-width: 100%;
    height: 960px; }
  .universal-platform {
    width: 1440px;
    height: 960px;
    margin: 0 auto; }
    .universal-platform .universal-platform-title {
      padding-top: 142.25px;
      margin-bottom: 100.75px;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      color: white;
      text-align: center; }
    .universal-platform .universal-platform-circle {
      background-image: url("../assets/images/round-elem-large.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 1083px;
      height: 587px;
      margin: 0 auto; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .universal-platform {
    background-image: url("../assets/images/bg-universal-platform-medium.png");
    width: 768px;
    height: 1480px; }
    .universal-platform #circle-large {
      display: none; }
    .universal-platform #circle-small {
      display: none; } }

@media (min-width: 320px) and (max-width: 767.98px) {
  .universal-platform {
    background-image: url("../assets/images/bg-universal-platform-small.png");
    width: 360px;
    height: 1545px; }
    .universal-platform #circle-large {
      display: none; }
    .universal-platform #circle-medium {
      display: none; } }
