@import '_variables';
@import '_container';

.current-standard-container {
  .grey-line {
    position: absolute;
    border-right: 2px solid rgba(12, 36, 44, 1);
    opacity: 0.2;
  }
  .current-standard {
    .big-container {
      .titles {
        z-index: 1;
        .small-title {
          font-weight: 700;
        }
        div {
          border-left: 8px solid rgba(206, 211, 218, 1);
          .big-title {
            font-style: normal;
            font-weight: bold;
            color: rgba(12, 36, 44, 1);
            span {
              color: rgba(248, 99, 78, 1);
            }
          }
        }
      }
      .main-content {
        .card {
          :nth-child(2) {
            font-weight: 700;
            color: rgba(12, 36, 44, 1);
          }
          :nth-child(3) {
            padding-top: 16px;
            font-weight: 400;
            color: rgba(12, 36, 44, 1);
          }
        }
      }
    }
  }
}
.circle {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.dot {
  background: rgba(248, 99, 78, 1);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 2;
}

@media (min-width: $desktopMin) {
  .current-standard-container {
    background-image: url("../assets/images/bg-current-standart-large.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 1942px;

    .current-standard {
      margin: 0 auto;
      .big-container {
        padding: 96px 64px 0 64px;
        .titles {
          width: 100%;
          padding-bottom: 158px;
          .small-title {
            padding: 0 0 8px 34px;
            font-size: 32px;
            line-height: 36px;
          }
          div {
            padding-top: 8px;
            border-left: 8px solid rgba(206, 211, 218, 1);
            .big-title {
              padding-left: 24px;
              font-size: 48px;
              line-height: 56px;
            }
          }
        }
        .main-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .card {
            .circle {
              margin-left: 470px;
              margin-bottom: -32px;
            }
            padding-top: 114px;
            padding-right: 25px;
            width: 352px;
            height: 270px;
            :nth-child(2) {
              font-size: 32px;
              line-height: 36px;
            }
            :nth-child(3) {
              font-size: 24px;
              line-height: 32px;
            }
            &:nth-child(odd) {
              .circle {
                margin-left: -145px;
              }
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
  .grey-line {
    height: 1942px;
    min-width: 549px;
  }
}

@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .current-standard-container {
    background-image: url("../assets/images/bg-current-standart-medium.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 2000px;

    .current-standard {
      height: 2000px;
      margin: 0 auto;
      div {
        .titles {
          padding-top: 96px;
          padding-right: 16px;
          .small-title {
            padding: 0 0 8px 32px;
            font-size: 32px;
            line-height: 36px;
          }
          div {
            padding-top: 8px;
            border-left: 8px solid rgba(206, 211, 218, 1);
            .big-title {
              padding-left: 24px;
              font-size: 48px;
              line-height: 56px;
            }
          }
        }
        .main-content {
          padding-right: 16px;
          margin-top: 120px;
          padding-left: 400px;
          .card {
            .circle {
              margin-left: -207px;
              margin-bottom: -32px;
            }
            width: 336px;
            height: 384px;
            :nth-child(2) {
              font-size: 32px;
              line-height: 36px;
            }
            :nth-child(3) {
              font-size: 24px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
  .grey-line {
    height: 2000px;
    min-width: 208px;
  }
}

@media (max-width: $phoneMax) {
  .current-standard-container {
    background-image: url("../assets/images/bg-current-standart-small.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 1440px;
    .current-standard {
      height: 1440px;
      margin: 0 auto;
      div {
        .titles {
          padding-top: 96px;
          padding-right: 16px;
          .small-title {
            padding: 0 0 8px 32px;
            font-size: 24px;
            line-height: 28px;
          }
          div {
            padding-top: 8px;
            border-left: 8px solid rgba(206, 211, 218, 1);
            .big-title {
              width: 300px;
              padding-left: 24px;
              font-size: 32px;
              line-height: 36px;
            }
          }
        }
        .main-content {
          padding-right: 16px;
          margin-top: 124px;
          padding-left: 87px;
          .card {
            .circle {
              margin-left: -75px;
              margin-bottom: -27px;
            }
            width: 248px;
            height: 264px;
            :nth-child(2) {
              font-size: 24px;
              font-weight: 700;
              line-height: 28px;
              color: rgba(12, 36, 44, 1);
            }
            :nth-child(3) {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              color: rgba(12, 36, 44, 1);
            }
          }
        }
      }
    }
  }
  .grey-line {
    height: 1440px;
    min-width: 28px;
  }
}
