@import "_variables";
@import "_container";

.diagram-container {
  background-color: rgb(247, 248, 250);

  .diagram {
    .diagram-titles {
      h3 {
        font-weight: 700;
        color: $black-color;
      }

      div {
        margin-top: 16px;
        border-left: 8px solid $green-color;

        p {
          font-weight: 700;
          color: $black-color;
        }
      }
    }

    .main-diagram {
      .diagram-block {
        .method-name {
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
        }
        .hours {
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
        }
        .rectangle {
          margin-top: 12px;
          height: 8px;
          border-radius: 8px;
        }
      }
    }
  }
}

.rectangle-upper {
  background: $green-color;
}
.rectangle-middle {
  background: linear-gradient(270deg, rgb(171, 178, 188) 2.74%, rgb(206, 211, 218) 100%);
}
.rectangle-lower {
  background: linear-gradient(270deg, rgb(137, 146, 159) 2.74%, rgb(206, 211, 218) 100%);
}

@media (min-width: $desktopMin) {
  .diagram {
    padding: 160px 0 100px 0;
    margin: 0 auto;

    .diagram-titles {
      h3 {
        margin-left: 63px;
        padding-left: 32px;
        font-size: 24px;
        line-height: 28px;
      }
      div {
        margin-left: 63px;
        border-left: 8px solid $green-color;
        p {
          max-width: 1060px;
          margin: 0;
          padding-left: 24px;
          font-size: 48px;
          line-height: 56px;
        }
      }
    }
    .main-diagram {
      padding-top: 109px;
      .diagram-block {
        margin-top: -30px;
        .method-name {
          text-align: right;
        }
        .hours {
          text-align: right;
        }
      }
    }
    .main-diagram {
      :first-child {
        .diagram-block {
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }
  .width-upper {
    width: 5.71%;
  }
  .width-middle {
    width: 50%;
  }
  .width-lower {
    width: 100%;
  }
}
@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .diagram {
    height: 720px;
    margin: 0 auto;
    .diagram-titles {
      padding-top: 96px;
      h3 {
        padding-left: 32px;
        font-size: 24px;
        line-height: 28px;
      }
      div {
        border-left: 8px solid $green-color;

        p {
          width: 650px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 48px;
          line-height: 56px;
        }
      }
    }
  }
  .main-diagram {
    background-image: url("../assets/images/diagram-medium.svg");
    background-size: 100%;
    margin: 76px 32px 72px;
    height: 244px;
    width: 704px;
  }
  .rectangle-upper {
    width: 5.71%;
  }
  .rectangle-middle {
    width: 50%;
  }
  .rectangle-lower {
    width: 100%;
  }
}
@media (max-width: $phoneMax) {
  .diagram {
    height: 720px;
    margin: 0 auto;
    .diagram-titles {
      padding-top: 96px;
      h3 {
        padding-left: 32px;
        font-size: 20px;
        line-height: 24px;
      }
      div {
        border-left: 8px solid $green-color;
        p {
          width: 296px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 32px;
          line-height: 36px;
          display: inline-flex;
        }
      }
    }
  }
  .main-diagram {
    background-image: url("../assets/images/diagram-small.svg");
    background-size: 100%;
    margin: 64px 32px 72px;
    height: 244px;
    width: 296px;
  }
  .rectangle-upper {
    width: 5.71%;
  }
  .rectangle-middle {
    width: 50%;
  }
  .rectangle-lower {
    width: 100%;
  }
}
