@import "_variables";
@import "_container";

.disruptive-innovations-container {
  background-color: rgb(247, 248, 250);
  .disruptive-innovations {
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
    .first-block {
      .disruptive-innovations-title {
        border-left: 8px solid $green-color;
        color: $black-color;
        p {
          margin-left: 24px;
          font-size: 48px;
          font-weight: 700;
          line-height: 56px;
        }
      }
    }
    .second-block {
      li {
        padding: 16px 0 8px;
        margin-left: 5px;
        list-style-type: none;
        .marker {
          display: inline-flex;
          margin-bottom: 7px;
          margin-right: 14px;
          height: 4px;
          width: 12px;
          background: $green-color;
          border-radius: 6px;
        }
      }
    }
  }
}

@media (min-width: $desktopMin) {
  .disruptive-innovations {
    .disruptive-innovations-main {
      display: flex;
      justify-content: space-between;
      margin: 0 64px 130px 64px;
      .first-block {
        width: 470px;
        .disruptive-innovations-title {
          padding-top: 148px;
          p {
            margin-left: 24px;
          }
        }
        .disruptive-innovations-text {
          margin-left: 32px;
          padding-top: 32px;
        }
      }
      .second-block {
        width: 450px;
        padding-top: 156px;
        margin-left: 126px;
      }
    }
  }
}
@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .disruptive-innovations {
    padding-bottom: 80px;
    div {
      width: 100%;
      .disruptive-innovations-title {
        padding-top: 48px;
        p {
          margin-left: 24px;
          font-size: 48px;
          line-height: 56px;
        }
      }
      .disruptive-innovations-text {
        width: 650px;
        margin-left: 32px;
        padding-top: 32px;
      }
    }
    ul {
      width: 650px;
      padding-top: 72px;
      margin-left: 32px;
      li {
        padding-top: 24px;
      }
    }
  }
}
@media (max-width: $phoneMax) {
  .disruptive-innovations {
    padding-bottom: 80px;
    div {
      width: 100%;
      .disruptive-innovations-title {
        padding-top: 96px;
        font-size: 32px;
        line-height: 36px;
        p {
          margin-left: 24px;
        }
      }
      .disruptive-innovations-text {
        width: 296px;
        margin-left: 32px;
        padding-top: 32px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    ul {
      width: 296px;
      padding-top: 64px;
      margin-left: 32px;
      font-size: 16px;
      line-height: 24px;
      li {
        padding-top: 24px;
      }
    }
  }
}
