@import '_variables';
@import '_container';

.quote-container {
  background-color: white;
  .quote {
    .quote-block {
      .text {
        font-size: 24px;
        line-height: 32px;
        color: rgba(12, 36, 44, 1);
      }
      .author {
        border-left: 8px solid rgba(92, 199, 141, 1);
        color: rgba(12, 36, 44, 1);
        .name {
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          color: rgba(12, 36, 44, 1);
        }
        .ref {
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          color: rgba(12, 36, 44, 1);
        }
      }
    }
  }
}

@media (min-width: $desktopMin) {
  .quote {
    height: 460px;
    margin: 0 auto;
    .quote-block {
      padding: 164px 96px 108px 96px;
      .author {
        height: 64px;
        margin-top: 56px ;
        margin-left:50%;
        .name {
          margin-left: 16px;
        }
        .ref {
          margin-left: 16px;
        }
      }
    }
  }
}

@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .quote {
    height: 400px;
    margin: 0 auto;
    background-color: rgba(247, 248, 250, 1);
    .quote-block {
      padding: 87px 32px 86px 32px;
      .author {
        height: 67px;
        margin-top: 32px;
        margin-left: 50%;
        .name {
          margin-left: 16px;
        }
        .ref {
          margin-left: 16px;
        }
      }
    }
  }
}

@media  (max-width: $phoneMax) {
  .quote {
    height: 640px;
    margin: 0 auto;
    background-color: rgba(247, 248, 250, 1);
    .quote-block {
      padding: 87px 32px 86px 32px;
      .author {
        height: 67px;
        margin-top: 32px;
        margin-left: -32px;
        .name {
          margin-left: 16px;
        }
        .ref {
          margin-left: 16px;
        }
      }
    }
  }
}
