@import "_variables";
@import "_container";

.quote-container {
  background-color: white;
  .quote {
    margin: 0 auto;
    .quote-block {
      .text {
        font-size: 24px;
        line-height: 32px;
        color: $black-color;
      }
      .author {
        border-left: 8px solid $green-color;
        color: $black-color;
        .name {
          margin-left: 16px;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          color: $black-color;
        }
        .ref {
          margin-left: 16px;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          color: $black-color;
        }
      }
    }
  }
}

@media (min-width: $desktopMin) {
  .quote {
    height: 460px;
    .quote-block {
      padding: 164px 96px 108px;
      .author {
        height: 64px;
        margin-top: 56px;
        margin-left: 48.5%;
      }
    }
  }
}

@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .quote {
    height: 400px;
    background-color: rgb(247, 248, 250);
    .quote-block {
      padding: 87px 32px 86px;
      .author {
        height: 67px;
        margin-top: 32px;
        margin-left: 50%;
      }
    }
  }
}

@media (max-width: $phoneMax) {
  .quote {
    height: 640px;
    background-color: rgb(247, 248, 250);
    .quote-block {
      padding: 87px 32px 86px;
      .author {
        height: 67px;
        margin-top: 32px;
        margin-left: -32px;
      }
    }
  }
}
