@import "_variables";
@import "_container";

.team-container {
  background-color: white;
  .team {
    .team-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-align: center;
    }
    .team-cards {
      .team-card {
        .face {
          padding-left: 12px;
        }
        .position {
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
          color: $green-color;
          white-space: nowrap;
        }
        .author-name {
          font-weight: 700;
          position: relative;
          z-index: 2;
          font-size: 24px;
          line-height: 28px;
        }
        .author-location {
          font-weight: 400;
          padding: 8px 0;
          font-size: 16px;
          line-height: 24px;
        }
        .author-about {
          font-weight: 400;
          opacity: 0.6;
          height: 96px;
          padding: 8px 0;
          font-size: 16px;
          line-height: 24px;
        }
        .author-link {
          padding-top: 8px;
          display: flex;
          img {
            width: 24px;
            height: 24px;
            margin-right: 16px;
          }
          a {
            margin-top: 2px;
            text-decoration: none;

            p {
              display: inline-flex;
              color: $blue-color;
              font-size: 16px;
              line-height: 20px;
              white-space: pre;
            }
            img {
              width: 14px;
              height: 24px;
              margin: -5px 0 -5px -18px;

              white-space: normal;
            }
            .underline {
              margin-top: -1px;
              width: 100%;
              height: 1px;
              background-color: $blue-color;
              border: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $desktopMin) {
  .team {
    height: 720px;
    margin: 0 auto;
    .team-cards {
      padding: 90px 0 86.2px 96px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .team-card {
        .face {
          width: 128px;
          height: 200px;
        }
        .position {
          display: inline-block;
          vertical-align: top;
          background-color: white;
          padding: 8px 8px 36px 0;
          margin-top: -60px;
          position: relative;
          z-index: 1;
        }
        .author-name {
          margin-top: -38px;
        }
        .author-about {
          width: 256px;
        }
      }
    }
  }
}

@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .team {
    height: 1200px;
    margin: 0 auto;
    padding-top: 96px;
    .team-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .team-card {
        padding-top: 66px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .face {
          width: 160px;
          height: 240px;
        }
        .card-text {
          padding-left: 36px;
          .author-about {
            width: 244px;
          }
        }
      }
    }
  }
}

@media (max-width: $phoneMax) {
  .team {
    height: 1680px;
    margin: 0 auto;
    padding: 96px 0;
    .team-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .team-card {
        padding-top: 66px;
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .face {
          padding-left: 48px;
          display: block;
          width: 154px;
          height: 240px;
        }
        .card-text {
          .position {
            display: inline-block;
            // vertical-align: top;
            background-color: white;
            padding: 8px 8px 36px 0;
            margin-top: -60px;
            position: relative;
            z-index: 1;
          }
          .author-name {
            margin-top: -30px;
          }
          .author-about {
            width: 244px;
          }
        }
      }
    }
  }
}
