@import "_variables";
@import "_container";

.title-container {
  background-repeat: no-repeat;
  max-width: 100%;
  .title {
    margin: 0 auto;
    .title-header {
      display: flex;
      flex-direction: row;
      img {
        display: block;
        height: 48px;
        width: 135px;
      }
    }
    .main-title {
      color: white;
      font-style: normal;
      font-weight: 300;
      span {
        font-weight: 700;
      }
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 48px;
      }
      line-height: 56px;
    }
    .buttons {
      display: flex;
      .btn-learn-more {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-align: center;
        background-color: $green-color;
        color: white;
        border-radius: 32px;
        border-color: transparent;
        text-transform: uppercase;
      }
      .btn-learn-more:hover {
        opacity: 0.7;
      }
      .btn-get-in-touch {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-align: center;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 32px;
        text-transform: uppercase;
      }
      .btn-get-in-touch:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (min-width: $desktopMin) {
  .title-container {
    background-image: url("../assets/images/bg-title-large.png");
    background-size: cover;
    height: 800px;

    .title {
      height: 800px;
      .title-header {
        margin: 0;
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          display: block;
          height: 48px;
          width: 135px;
        }
        .phone {
          height: 24px;
          color: white;
          text-decoration: none;
        }
      }

      .main-title {
        margin: 385px 96px 0;
        max-width: 940px;
        height: 168px;
      }
      .buttons {
        margin: 32px 96px 87px;
        display: flex;
        flex-direction: row;
        .btn-learn-more {
          width: 256px;
          height: 48px;
        }
        .btn-get-in-touch {
          width: 160px;
          height: 48px;
          margin: 0 32px;
        }
      }
    }
  }
}

@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .title-container {
    background-image: url("../assets/images/bg-title-medium.svg");
    background-size: 100%;
    height: 1024px;
    .title {
      height: 1024px;
      .title-header {
        margin: 0 160px;
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          display: block;
          height: 48px;
          width: 135px;
        }
        .phone {
          display: none;
        }
      }
      .decoration-text {
        display: none;
      }
      .main-title {
        margin: 584px 32px 0;
        height: 168px;
      }
      .buttons {
        margin: 16px 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .btn-learn-more,
        .btn-get-in-touch {
          width: 50%;
          height: 48px;
          margin-top: 16px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}

@media (max-width: $phoneMax) {
  .title-container {
    background-image: url("../assets/images/bg-title-small.svg");
    background-size: 100%;
    height: 640px;
    .title {
      height: 640px;
      position: relative;
      .title-header {
        margin: 0 160px;
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          display: block;
          height: 48px;
          width: 135px;
        }
        .phone {
          display: none;
        }
      }
      .decoration-text {
        display: none;
      }
      .main-title {
        margin: 193px 32px 0;
        h1 {
          font-size: 32px;
        }
        p {
          font-size: 32px;
        }
        font-style: normal;
        line-height: 36px;
      }
      .buttons {
        margin: 16px 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .btn-learn-more,
        .btn-get-in-touch {
          width: 100%;
          height: 48px;
          margin-top: 16px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}
