@import '_variables';
@import '_container';
.universal-platform-container {
  background-repeat: no-repeat;
  width: 100%;
  .universal-platform {
    margin: 0 auto;
    .universal-platform-title {
      h2 {
        display: inline-flex;
        text-align: center;
        font-weight: 700;
      }
    }
    .universal-platform-circle {
      background-repeat: no-repeat;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktopMin) {
  .universal-platform-container {
    background-image: url("../assets/images/bg-universal-platform-large.png");
    background-size: cover;
    height: 960px;
  }
  .universal-platform {
    height: 960px;
    .universal-platform-title {
      padding-top: 142.25px;
      margin-bottom: 100.75px;
      h2{
        font-size: 32px;
        line-height: 36px;
      }
      color: white;
      text-align: center;
    }
    .universal-platform-circle {
      background-image: url("../assets/images/round-elem-large.svg");
      background-size : contain;
      width: 1083px;
      height: 587px;
    }
  }
}
@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .universal-platform-container {
    background-image: url("../assets/images/bg-universal-platform-medium.png");
    background-size: 100%;
    height: 1480px;
  }
  .universal-platform {
    height: 1480px;
    .universal-platform-title {
      padding-top: 96px;
      margin-bottom: 47px;
      h2{
        font-size: 32px;
        line-height: 36px;
      }
      color: white;
      text-align: center;
    }
    .universal-platform-circle {
      background-image: url("../assets/images/round-elem-medium.svg");
      background-size: contain;
      width: 673px;
      height: 1250px;
    }
  }
}

@media (max-width: $phoneMax) {
  .universal-platform-container {
    background-image: url("../assets/images/bg-universal-platform-small.png");
    background-size: 100%;
    height: 1545px;
    overflow: hidden;
  }
  .universal-platform {
    height: 1545px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .universal-platform-title {
      padding-top: 96px;
      margin-bottom: 64px;
      color: white;
      h2{
        font-size: 24px;
        line-height: 28px;
        display: block;
        text-align: center;
      }
    }
    .universal-platform-circle {
      background-image: url("../assets/images/round-elem-small.svg");
      background-size: cover;
      width: 673px;
      height: 1190px;
      position: absolute;
      top: 216px;
      left: calc(100% - 673px);
      right: calc(100% - 673px);
    }
  }
  
}
