$phoneMax: 767.98px;
$tabletMin: 768px;
$tabletMax: 1199.98px;
$desktopMin: 1200px;

$black-color: rgb(12, 36, 44);
$green-color: rgb(92, 199, 141);
$orange-color: rgb(248, 99, 78);
$grey-color:rgb(206, 211, 218);
$dark-grey-color:rgb(137, 146, 159);
$blue-color:rgb(67, 129, 187);
