$phoneMin:320px;
$phoneMax:767.98px;
$tabletMin:768px;
$tabletMax:991.98px;
$desktopMin:992px;
$desktopMax:1920px;

.diagram{
    background-color: rgba(247, 248, 250, 1);
  
    .diagram-titles{
      p{
        font-weight:700;
        color: rgba(12, 36, 44, 1);
      }
      div{
        border-left: 8px solid rgba(92, 199, 141, 1);
        p{
          font-weight:700;
          color: rgba(12, 36, 44, 1);
        }
        
      }
    }
  }

@media (min-width: $desktopMin) and (max-width: $desktopMax){
  .diagram{
    background-image: url('../assets/images/diagram-large.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    max-width: 100%;
    height:380px ;
    padding: 160px 0 100px 0;
  
    .diagram-titles{
      p{
        margin-left: 223px;
        padding-left: 32px;
        font-size: 24px;
        line-height: 28px;
      }
      div{
        margin-left: 223px;
        border-left: 8px solid rgba(92, 199, 141, 1);
        p{
          margin: 0;
          padding-left: 24px;
          font-size: 48px ;
          line-height: 56px;
        }
      }
    }
    .main-diagam{ 
      margin: 109px 0 100px 160px;
      height: 112px;
  
      object{
        width: 200px;
      }
  }
  }
}
@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .diagram{
    width: 768px ;
    height:720px ;
  
    .diagram-titles{
      padding-top: 96px;
      p{
        padding-left: 32px;
         font-size: 24px;
         line-height: 28px;
      }
      div{
        border-left: 8px solid rgba(92, 199, 141, 1);
        p{
          width: 650px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 48px ;
          line-height: 56px;
          br{
            display: none;
          }
        }
      }
    }
  }
    .main-diagam{
      background-image: url('../assets/images/diagram-medium.svg');
      background-size: 100%;
      margin: 76px 32px 72px 32px;
      height: 244px;
      width: 704px;
  }
}
@media (min-width: $phoneMin) and (max-width: $phoneMax){
  .diagram{
    width: 360px ;
    height:720px ;
  
    .diagram-titles{
      padding-top: 96px;
      p{
        padding-left: 32px;
        font-size: 20px;
        line-height: 24px;
      }
      div{
        border-left: 8px solid rgba(92, 199, 141, 1);
        p{
          width: 296px;
          margin-top: 36px;
          padding-left: 24px;
          padding-right: 32px;
          font-size: 32px;
          line-height: 36px;
          br{
            display: none;
          }
        }
      }
    }
  }
    .main-diagam{
      background-image: url('../assets/images/diagram-small.svg');
      background-size: 100%;
      margin: 64px 32px 72px 32px;
      height: 244px;
      width: 296px;
  }
}

  