$phoneMin:320px;
$phoneMax:767.98px;
$tabletMin:768px;
$tabletMax:991.98px;
$desktopMin:992px;
$desktopMax:1920px;

.disruptive-innovations{
    background-color: rgba(247, 248, 250, 1);
    font-size: 24px;
    line-height: 32px;
    div{
      .di-title{
        border-left: 8px solid rgba(92, 199, 141, 1);
        color: rgba(12, 36, 44, 1);
        p{
          margin-left: 24px;
          font-size: 48px;
          font-weight:700;
          line-height: 56px;
        }
      }
    }
    ul{
      li {
        padding: 16px 0 8px 14px;
        margin-left: 20px;
        list-style-image: url('../assets/images/li-marker.svg');
      }
    }
  }

  @media (min-width: $desktopMin) and (max-width: $desktopMax){
    .disruptive-innovations{
      min-width: $desktopMin;
      max-width: 100%;
      height: 520px;
      padding: 0 224px 130px 224px;
      display: inline-flex;
      div{
        width: 470px;
        .di-title{
          padding-top: 148px;
          border-left: 8px solid rgba(92, 199, 141, 1);
          color: rgba(12, 36, 44, 1);
          p{
            margin-left: 24px;
          }
        }
        .di-text{
          margin-left: 32px;
          padding-top: 32px;
        }
      }
      ul{
        padding-top: 156px;
        margin-left:126px ;
      }
    }
  }
  @media (min-width: $tabletMin) and (max-width: $tabletMax) {
    .disruptive-innovations{
      width: 768px;
      height: 520px;
      padding-bottom: 80px;
    
      div{
        width: 100%;
        .di-title{
        
          padding-top: 48px;
          border-left: 8px solid rgba(92, 199, 141, 1);
          color: rgba(12, 36, 44, 1);
          p{
            margin-left: 24px;
            font-size: 48px;
            line-height: 56px;
          }
          br{
            display: none;
          }
        }
        .di-text{
          width: 650px;
          margin-left: 32px;
          padding-top: 32px;
        }
      }
      ul{
        width: 650px;
        padding-top: 72px;
        margin-left:32px ;
        li{
          padding-top: 24px;
        }
      }
    }
  }
  @media (min-width: $phoneMin) and (max-width: $phoneMax) {
    .disruptive-innovations{
      width: 360px;
      height: 640px;
      padding-bottom: 80px;
    
      div{
        width: 100%;
        .di-title{
        
          padding-top: 96px;
          border-left: 8px solid rgba(92, 199, 141, 1);
          color: rgba(12, 36, 44, 1);
          font-size: 32px;
          line-height: 36px;
          p{
            margin-left: 24px;
          }
          br{
            display: none;
          }
        }
        .di-text{
          width: 296px;
          margin-left: 32px;
          padding-top: 32px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      ul{
        width: 296px;
        padding-top: 64px;
        margin-left:32px ;
        font-size: 16px;
        line-height: 24px;
        li{
          padding-top: 24px;
        }
      }
    }
  }


  
  