@import 'global';
@import 'title';
@import 'quote';
@import 'current-standard';
@import 'diagram';
@import 'universal-platform-technology';
@import 'disruptive-innovations';
@import 'team';
@import 'footer';