$phoneMin:320px;
$phoneMax:767.98px;
$tabletMin:768px;
$tabletMax:991.98px;
$desktopMin:992px;

.titleBackground{
  .title{
    .title-header{
      display: flex;
      flex-direction: row;
      img{
        display: block;
        height: 48px;
        width: 135px;
      }
    }
   
    .main-title{
      color: white;
      font-style: normal;
      font-weight: 300;
      span{
        font-weight: 700;
      }
    }
    .buttons{
      display: flex;
      .btn-learn-more{
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-align: center;
        background-color: rgba(92, 199, 141, 1);
        color: white;
        border-radius: 32px;
        border-color: transparent;
      }
      .btn-learn-more:hover{
        opacity: 0.7;
      }
      .btn-get-in-touch{
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-align: center;
        background-color: transparent;
        color: white;
        border-radius: 32px;
      }
      .btn-get-in-touch:hover{
        opacity:0.7 ;
      }
    }
  }
}


@media (min-width: $desktopMin){
  .titleBackground{
    background-image: url('../assets/images/bg-title-large.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    .title{
      margin: 0 auto;
      width: 1440px;
      height: 800px;
      position:relative;
      .title-header{
        margin: 0 160px ;
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        img{
          display: block;
          height: 48px;
          width: 135px;
        }
        .phone{
          height: 24px;
          color: white;
        }
      }
       
      .main-title{
        margin: 250px calc(50% - 928px/2) 0 calc(50% - 928px/2);
        min-width: $desktopMin;
        max-width: 100%;
        height: 168px;
        font-size: 48px;
        line-height: 56px;
      }
      .buttons{
        margin: 32px calc(50% - 928px/2) 87px calc(50% - 928px/2)  ;
        display: flex;
        flex-direction: row;
        .btn-learn-more{
          width: 256px; ;
          height: 48px;
        }
        .btn-get-in-touch{
          width: 160px; ;
          height: 48px;
          margin: 0 32px;
        }
      }
    }
  }
  }
  

@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .titleBackground{
    background-image: url('../assets/images/bg-title-medium.svg');
    background-size:100%;
    background-repeat: no-repeat;
    .title{
      
      width: 768px;
      height: 1024px;
      position:relative;
      .title-header{
        margin: 0 160px ;
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        img{
          display: block;
          height: 48px;
          width: 135px;
        }
        .phone{
          display: none;
        }
      }
      .decoration-text{
        display: none;
      }
      .main-title{
        margin:584px 32px 0 32px;
        height: 168px;
        font-size: 48px;
        line-height: 56px;
        br{
          display:none;
        }
      }
      .buttons{
        margin: 16px 32px 16px 32px ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .btn-learn-more, .btn-get-in-touch{
          width: 50%; ;
          height: 48px;
          margin-top: 16px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
    
  }
  

@media (min-width: $phoneMin) and (max-width: $phoneMax){
  .titleBackground{
    background-image: url('../assets/images/bg-title-small.svg');
    background-size:100%;
    background-repeat: no-repeat;
    .title{
      width: 360px;
      height: 640px;
      position:relative;
      .title-header{
        margin: 0 160px ;
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        img{
          display: block;
          height: 48px;
          width: 135px;
        }
        .phone{
          display: none;
        }
          
      }
      .decoration-text{
        display: none;
      }
      .main-title{
        margin:193px 32px 0 32px;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 36px;
        br{
          display:none;
        }
      }
      .buttons{
        margin: 16px 32px 16px 32px ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .btn-learn-more, .btn-get-in-touch{
          width: 100%; ;
          height: 48px;
          margin-top: 16px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
    
  }
  
