$phoneMin:320px;
$phoneMax:767.98px;
$tabletMin:768px;
$tabletMax:991.98px;
$desktopMin:992px;
$desktopMax:1920px;


.universal-platform-background{
  }
  @media (min-width: $desktopMin)  {
    .universal-platform-background{
      background-image: url('../assets/images/bg-universal-platform-large.png');
      background-size: 100%;
      background-repeat: no-repeat;
      min-width: 1440px;
      max-width: 100%;
      height: 960px;

    }
    .universal-platform{
      width: 1440px;
      height: 960px;
      margin: 0 auto;
      .universal-platform-title{
        padding-top: 142.25px;
        margin-bottom: 100.75px;
          font-size: 32px;
          font-weight:700;
          line-height: 36px;
          color: white;
          text-align: center;

        }
      .universal-platform-circle{
          background-image: url('../assets/images/round-elem-large.svg');
          background-size: contain;
          background-repeat: no-repeat;
          width: 1083px;
          height: 587px;
          margin: 0 auto;
        }
      // #circle-medium{
      //   display: none;
      // }
      // #circle-small{
      //   display: none;
      // }
    }
  }
  @media (min-width: $tabletMin) and (max-width: $tabletMax) {
    .universal-platform{
      background-image: url('../assets/images/bg-universal-platform-medium.png');
      width: 768px;
      height: 1480px;
      #circle-large{
        display: none;
      }
      #circle-small{
        display: none;
      }
    }
  }
  @media (min-width: $phoneMin) and (max-width: $phoneMax){
    .universal-platform{
      background-image: url('../assets/images/bg-universal-platform-small.png');
      width: 360px;
      height: 1545px;
      #circle-large{
        display: none;
      }
      #circle-medium{
        display: none;
      }
    }
  }
 
 
 