$phoneMin:320px;
$phoneMax:767.98px;
$tabletMin:768px;
$tabletMax:991.98px;
$desktopMin:992px;
$desktopMax:1920px;


.universal-platform-technology{
  }
  @media (min-width: $desktopMin)  {
    .universal-platform-technology{
      background-image: url('../assets/images/bg-universal-platform-large.png');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100%;
      .block-main{
        background-image: url('../assets/images/round-elem-large.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 1440px;
        height: 960px;
        margin: 0 auto;
        padding: 10px;
      }
      // #circle-medium{
      //   display: none;
      // }
      // #circle-small{
      //   display: none;
      // }
    }
  }
  @media (min-width: $tabletMin) and (max-width: $tabletMax) {
    .universal-platform-technology{
      background-image: url('../assets/images/bg-universal-platform-medium.png');
      width: 768px;
      height: 1480px;
      #circle-large{
        display: none;
      }
      #circle-small{
        display: none;
      }
    }
  }
  @media (min-width: $phoneMin) and (max-width: $phoneMax){
    .universal-platform-technology{
      background-image: url('../assets/images/bg-universal-platform-small.png');
      width: 360px;
      height: 1545px;
      #circle-large{
        display: none;
      }
      #circle-medium{
        display: none;
      }
    }
  }
 
 
 